.tabs {

}

.tabs__list {
  display: flex;
  list-style: none;
  margin: 16px 0;
  padding: 0;

}

.tabs__button {
  padding: 8px 20px;
  margin: 0;
  border: 0 solid transparent;
  border-bottom: 2px solid transparent;
  background-color: transparent;
  cursor: pointer;
}

.tabs__button._active {
  border-bottom-color: black;
}